.bg-image {
    background-image: url(../../../assets/images/mainbg.jpg);
    width: 100%;
    height: 220px;
    padding: 43px 0 0 80px;
}
.left-wrapper {
    background-image: url(../../../assets/images/heroimg2.png);
    width: 100%;
    height: 221px;
    padding: 46px 0 0 80px;
}
.right-wrapper {
    background-image: url(../../../assets/images/heroimg3.png);
    width: 100%;
    height: 221px;
    padding: 46px 0 0 80px;
}
